body {
    background-color: #435165!important;
    /*background: linear-gradient(to left, #66ccff -50%, #ffccff 100%);*/
    /*linear-gradient(to left, #10294c 0%, #f04e23aa 100%)*/
}

#log-out-anchor {
    padding-right: 5px;
    position: fixed;
    margin-right: 10px;
    right: 0;
    top: 0;
    margin-top: 10px;
}

.nav-div {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    height: 70px;
    /*padding: 10px;*/
}

.nav-list {
    display: inline-block;
    list-style: none;
    margin: 0;
}

.logo-label {
    background-color: #3274d6;
    color: #ffffff;
    width: 50px;
    height: 50px;
}

.the-logo {
    margin-right: 5px;
}

.nav-anchors {
    margin-right: 5px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: auto;
    text-align: center;
    background-color: #3274d6;
    list-style: none;
    color: #ffffff;
    text-decoration: none;
}
.nav-anchors:hover {
    background-color: #2868B2;
    color: #ffffff;
    text-decoration: none;
}

.center-content {
    width: 100%;
    position: fixed;
    height: calc(100vh - 120px);
    top: 70px;
}